.theme-light{
  --gray: #CCC;
  --btnBg: #DDD;
  --text: #000;
  --trackColor: #FFF;
  --bgColor: #FFF;
  --borderColor: #000;
  --progressColor: #CCC;
}
.theme-dark{
  --gray: #AAA;
  --btnBg: #666;
  --text: #FFF;
  --trackColor: #000;
  --bgColor: #000;
  --borderColor: #FFF;
  --progressColor: #555;
}
